.header {
    text-align: center;
    margin: 2rem 0;
    }

.header_title {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    }

.header_menu {
    font-size: .8rem;
    }

.footer {
    text-align: center;
    margin-top: 2rem;
    }

.footer_logo {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-top: 1rem;
    }

.footer_menu {
    font-size: .9rem;
    }

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
        }
    }