.header {
    text-align: center;
    margin: 2rem 0;
    }

.header_title {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    }

.header_menu {
    font-size: .8rem;
    margin: 1rem 0;
    }

.footer {
    text-align: center;
    margin-top: 2rem;
    }

.footer_logo {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin-top: 1rem;
    }

.footer_menu {
    font-size: .9rem;
    }

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
        }
    }

.header_nav {
    margin: 0 0.3rem;
}